<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785177368376-h43bptiinleskfdg2a7c7a97lldrldsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785177368376-h43bptiinleskfdg2a7c7a97lldrldsj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWYzmm18oDt3-TkPncONb_ZAgVy0ck8lU</string>
	<key>GCM_SENDER_ID</key>
	<string>785177368376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FirebaseMail.GetMail</string>
	<key>PROJECT_ID</key>
	<string>getmail-6d7d0</string>
	<key>STORAGE_BUCKET</key>
	<string>getmail-6d7d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785177368376:ios:263aebe8b1d2ea390c93cd</string>
</dict>
</plist>